USE [QL_PHONG_TRO]
GO
/****** Object:  Table [dbo].[CTPHIEUTHU]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUTHU](
	[ID_CTPT] [int] IDENTITY(1,1) NOT NULL,
	[MATHU] [int] NOT NULL,
	[MADV] [int] NOT NULL,
	[CHISOCU] [float] NULL,
	[CHISOMOI] [float] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK__CTPHIEUT__1E277205F42C1F82] PRIMARY KEY CLUSTERED 
(
	[ID_CTPT] ASC,
	[MATHU] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTTHIETBI]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTHIETBI](
	[MAPT] [int] NOT NULL,
	[MATB] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK__CTTHIETB__A63D56F5894569CA] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [int] IDENTITY(1,1) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__DICHVU__603F005534224B63] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHTRO]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHTRO](
	[MAKT] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[HINH] [text] NULL,
	[CHUHO] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[TRANGTHAI] [bit] NULL,
	[GMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK__KHACHTRO__603F5930950B7EF0] PRIMARY KEY CLUSTERED 
(
	[MAKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALP] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[DIENTICH] [int] NULL,
 CONSTRAINT [PK__LOAIPHON__603F4155551E0725] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHIETBI]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHIETBI](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAITHIETBI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[HINH] [text] NULL,
	[SDT] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPQ] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHUEPHONG]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUEPHONG](
	[MAPHIEUTHUE] [int] IDENTITY(1,1) NOT NULL,
	[MAKT] [int] NULL,
	[MAPT] [int] NULL,
	[MANV] [int] NULL,
	[NGAYTHUE] [date] NULL,
	[NGAYTRA] [date] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__PHIEUTHU__6333D7914C6DE5A9] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MATHU] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUTHUE] [int] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[TONGTIEN] [int] NOT NULL,
	[DATTHANHTOAN] [int] NULL,
 CONSTRAINT [PK__PHIEUTHU__582482004A9B20D0] PRIMARY KEY CLUSTERED 
(
	[MATHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGTRO]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGTRO](
	[MAPT] [int] IDENTITY(1,1) NOT NULL,
	[MALP] [int] NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[SLTOIDA] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[SONGUOIHIENTAI] [int] NULL,
	[TRANGTHAIAN] [bit] NULL,
 CONSTRAINT [PK__PHONGTRO__603F61D47949D428] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOLIEUTHONGKE]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLIEUTHONGKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienTich] [int] NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_SOLIEUTHONGKE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[MAPQ] [int] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 01/7/2021 8:18:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [int] IDENTITY(1,1) NOT NULL,
	[TENTB] [nvarchar](50) NULL,
	[GIA] [int] NULL,
	[MALOAI] [int] NULL,
 CONSTRAINT [PK__THIETBI__6023721D0BC1B9CF] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CTPHIEUTHU] ON 

INSERT [dbo].[CTPHIEUTHU] ([ID_CTPT], [MATHU], [MADV], [CHISOCU], [CHISOMOI], [THANHTIEN]) VALUES (1, 1, 1, 0, 25, 125000)
INSERT [dbo].[CTPHIEUTHU] ([ID_CTPT], [MATHU], [MADV], [CHISOCU], [CHISOMOI], [THANHTIEN]) VALUES (2, 1, 2, 0, 13, 130000)
INSERT [dbo].[CTPHIEUTHU] ([ID_CTPT], [MATHU], [MADV], [CHISOCU], [CHISOMOI], [THANHTIEN]) VALUES (3, 1, 4, NULL, NULL, 150000)
SET IDENTITY_INSERT [dbo].[CTPHIEUTHU] OFF
INSERT [dbo].[CTTHIETBI] ([MAPT], [MATB], [SOLUONG], [TINHTRANG]) VALUES (1, 1, 1, N'Tốt')
INSERT [dbo].[CTTHIETBI] ([MAPT], [MATB], [SOLUONG], [TINHTRANG]) VALUES (1, 4, 1, N'Tốt')
INSERT [dbo].[CTTHIETBI] ([MAPT], [MATB], [SOLUONG], [TINHTRANG]) VALUES (1, 6, 1, N'Tốt')
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [DONVITINH], [TRANGTHAI]) VALUES (1, N'Điện', 5000, N'Số', N'true')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [DONVITINH], [TRANGTHAI]) VALUES (2, N'Nước', 10000, N'Khối', N'true')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [DONVITINH], [TRANGTHAI]) VALUES (4, N'K+', 150000, N'Tháng', N'False')
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
SET IDENTITY_INSERT [dbo].[KHACHTRO] ON 

INSERT [dbo].[KHACHTRO] ([MAKT], [HOTEN], [CMND], [GIOITINH], [NGHENGHIEP], [DIACHI], [SDT], [HINH], [CHUHO], [NGAYSINH], [TRANGTHAI], [GMAIL]) VALUES (1, N'Lê Hoàng Long', N'312439422', N'Nam', N'Sinh viên', N'TP Hồ Chí Minh', N'0123456787', NULL, 1, CAST(N'2000-11-23' AS Date), 0, N'1')
INSERT [dbo].[KHACHTRO] ([MAKT], [HOTEN], [CMND], [GIOITINH], [NGHENGHIEP], [DIACHI], [SDT], [HINH], [CHUHO], [NGAYSINH], [TRANGTHAI], [GMAIL]) VALUES (2, N'Nguyễn Văn A', N'3124545', N'Nam', N'Sinh viên', N'TP Hồ Chí Minh', N'01234156487', N'C:\Users\HoangLong\Pictures\Ungdungthongminh\—Pngtree—user vector avatar_4830521.png', 0, CAST(N'2000-04-15' AS Date), 0, N'2')
INSERT [dbo].[KHACHTRO] ([MAKT], [HOTEN], [CMND], [GIOITINH], [NGHENGHIEP], [DIACHI], [SDT], [HINH], [CHUHO], [NGAYSINH], [TRANGTHAI], [GMAIL]) VALUES (3, N'Trần Thị B', N'123456', N'Nữ', N'Văn phòng', N'Đồng Nai', N'012345678', N'D:\DoAn\PhanMemThongMinh\DoAnQuanLyNhaTro\GUI\Image\9.jpg', 1, CAST(N'1998-07-05' AS Date), 1, N'3')
SET IDENTITY_INSERT [dbo].[KHACHTRO] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALP], [TENLOAIPHONG], [DONGIA], [DIENTICH]) VALUES (1, N'Phòng Thường', 2500000, 20)
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLOAIPHONG], [DONGIA], [DIENTICH]) VALUES (5, N'Phòng Cao Cấp', 3500000, 25)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
SET IDENTITY_INSERT [dbo].[LOAITHIETBI] ON 

INSERT [dbo].[LOAITHIETBI] ([MALOAI], [TENLOAI]) VALUES (1, N'Tivi')
INSERT [dbo].[LOAITHIETBI] ([MALOAI], [TENLOAI]) VALUES (2, N'Đèn')
INSERT [dbo].[LOAITHIETBI] ([MALOAI], [TENLOAI]) VALUES (4, N'Bếp từ')
SET IDENTITY_INSERT [dbo].[LOAITHIETBI] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [HINH], [SDT], [CMND]) VALUES (1, N'Lê Hoàng Long', CAST(N'1999-05-11' AS Date), N'Nam', N'Tiền Giang', N'D:\DoAn\PhanMemThongMinh\DoAnQuanLyNhaTro\GUI\Image\5.jpg', N'01234578', N'312435677')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [HINH], [SDT], [CMND]) VALUES (23, N'Nguyễn Văn Trâu', CAST(N'1999-03-23' AS Date), N'Nam', N'Cao Bằng', N'6.png', N'0123456464', N'4564564')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [HINH], [SDT], [CMND]) VALUES (25, N'Lê Thị Ánh Tuyết', CAST(N'1995-05-23' AS Date), N'Nam', N'Lạng Sơn', N'9.jpg', N'0123654789', N'315357655')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHANQUYEN] ON 

INSERT [dbo].[PHANQUYEN] ([MAPQ], [TENQUYEN]) VALUES (1, N'Quản lý thuê trọ - Thanh toán')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [TENQUYEN]) VALUES (2, N'Quản lý phòng')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [TENQUYEN]) VALUES (3, N'Quản lý khách hàng')
SET IDENTITY_INSERT [dbo].[PHANQUYEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUTHUEPHONG] ON 

INSERT [dbo].[PHIEUTHUEPHONG] ([MAPHIEUTHUE], [MAKT], [MAPT], [MANV], [NGAYTHUE], [NGAYTRA], [TRANGTHAI]) VALUES (2, 3, 1, NULL, CAST(N'2021-06-25' AS Date), CAST(N'2021-06-26' AS Date), N'Ngừng thuê')
INSERT [dbo].[PHIEUTHUEPHONG] ([MAPHIEUTHUE], [MAKT], [MAPT], [MANV], [NGAYTHUE], [NGAYTRA], [TRANGTHAI]) VALUES (3, 4, 1, NULL, CAST(N'2021-06-25' AS Date), CAST(N'2021-06-26' AS Date), N'Ngừng thuê')
INSERT [dbo].[PHIEUTHUEPHONG] ([MAPHIEUTHUE], [MAKT], [MAPT], [MANV], [NGAYTHUE], [NGAYTRA], [TRANGTHAI]) VALUES (5, 7, 4, 1, CAST(N'2021-06-26' AS Date), NULL, N'Đang thuê')
SET IDENTITY_INSERT [dbo].[PHIEUTHUEPHONG] OFF
SET IDENTITY_INSERT [dbo].[PHIEUTHUTIEN] ON 

INSERT [dbo].[PHIEUTHUTIEN] ([MATHU], [MAPHIEUTHUE], [NGAYBATDAU], [NGAYKETTHUC], [TONGTIEN], [DATTHANHTOAN]) VALUES (1, 2, CAST(N'2021-06-25' AS Date), CAST(N'2021-06-26' AS Date), 3925000, 1)
INSERT [dbo].[PHIEUTHUTIEN] ([MATHU], [MAPHIEUTHUE], [NGAYBATDAU], [NGAYKETTHUC], [TONGTIEN], [DATTHANHTOAN]) VALUES (3, 5, CAST(N'2021-06-26' AS Date), CAST(N'2021-06-26' AS Date), 2685000, 1)
INSERT [dbo].[PHIEUTHUTIEN] ([MATHU], [MAPHIEUTHUE], [NGAYBATDAU], [NGAYKETTHUC], [TONGTIEN], [DATTHANHTOAN]) VALUES (4, 5, CAST(N'2021-06-26' AS Date), CAST(N'2021-06-27' AS Date), 2960000, 1)
SET IDENTITY_INSERT [dbo].[PHIEUTHUTIEN] OFF
SET IDENTITY_INSERT [dbo].[PHONGTRO] ON 

INSERT [dbo].[PHONGTRO] ([MAPT], [MALP], [TENPHONG], [SLTOIDA], [TRANGTHAI], [SONGUOIHIENTAI], [TRANGTHAIAN]) VALUES (1, 5, N'Phòng 101', 2, N'Đã cho thuê', 1, 1)
INSERT [dbo].[PHONGTRO] ([MAPT], [MALP], [TENPHONG], [SLTOIDA], [TRANGTHAI], [SONGUOIHIENTAI], [TRANGTHAIAN]) VALUES (2, 1, N'Phòng 102', 3, N'Đã cho thuê', 1, 0)
INSERT [dbo].[PHONGTRO] ([MAPT], [MALP], [TENPHONG], [SLTOIDA], [TRANGTHAI], [SONGUOIHIENTAI], [TRANGTHAIAN]) VALUES (3, 1, N'Phòng 102', 4, N'Đã cho thuê', 1, 1)
SET IDENTITY_INSERT [dbo].[PHONGTRO] OFF
SET IDENTITY_INSERT [dbo].[SOLIEUTHONGKE] ON 

INSERT [dbo].[SOLIEUTHONGKE] ([ID], [Location], [DiaChi], [DienTich], [Gia]) VALUES (6303, 2, N'Quận 2', 25, 6)
INSERT [dbo].[SOLIEUTHONGKE] ([ID], [Location], [DiaChi], [DienTich], [Gia]) VALUES (6304, 4, N'Quận 4', 20, 4.5)
INSERT [dbo].[SOLIEUTHONGKE] ([ID], [Location], [DiaChi], [DienTich], [Gia]) VALUES (6305, 13, N'Bình Tân', 16, 1.5)
GO
SET IDENTITY_INSERT [dbo].[SOLIEUTHONGKE] OFF
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [MAPQ], [MANV]) VALUES (N'Admin', N'admin', 4, NULL)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [MAPQ], [MANV]) VALUES (N'lehoanglong', N'3724923114850596956133245243127987711', 5, 1)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [MAPQ], [MANV]) VALUES (N'nguyena', N'123AAA', 1, 25)
SET IDENTITY_INSERT [dbo].[THIETBI] ON 

INSERT [dbo].[THIETBI] ([MATB], [TENTB], [GIA], [MALOAI]) VALUES (1, N'Sony 32inch', 5000000, 1)
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [GIA], [MALOAI]) VALUES (3, N'Samsung 32inch', 4000000, 1)
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [GIA], [MALOAI]) VALUES (4, N'LED điện quang', 100000, 2)
SET IDENTITY_INSERT [dbo].[THIETBI] OFF
ALTER TABLE [dbo].[CTPHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUTHU_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CTPHIEUTHU] CHECK CONSTRAINT [FK_CTPHIEUTHU_DICHVU]
GO
ALTER TABLE [dbo].[CTPHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUTHU_PHIEUTHUTIEN] FOREIGN KEY([MATHU])
REFERENCES [dbo].[PHIEUTHUTIEN] ([MATHU])
GO
ALTER TABLE [dbo].[CTPHIEUTHU] CHECK CONSTRAINT [FK_CTPHIEUTHU_PHIEUTHUTIEN]
GO
ALTER TABLE [dbo].[CTTHIETBI]  WITH CHECK ADD  CONSTRAINT [FK_CTTHIETBI_PHONGTRO] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHONGTRO] ([MAPT])
GO
ALTER TABLE [dbo].[CTTHIETBI] CHECK CONSTRAINT [FK_CTTHIETBI_PHONGTRO]
GO
ALTER TABLE [dbo].[CTTHIETBI]  WITH CHECK ADD  CONSTRAINT [FK_CTTHIETBI_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CTTHIETBI] CHECK CONSTRAINT [FK_CTTHIETBI_THIETBI]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUEPHONG_KHACHTRO] FOREIGN KEY([MAKT])
REFERENCES [dbo].[KHACHTRO] ([MAKT])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [FK_PHIEUTHUEPHONG_KHACHTRO]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUEPHONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [FK_PHIEUTHUEPHONG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUEPHONG_PHONGTRO] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHONGTRO] ([MAPT])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [FK_PHIEUTHUEPHONG_PHONGTRO]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUTHUEPHONG] FOREIGN KEY([MAPHIEUTHUE])
REFERENCES [dbo].[PHIEUTHUEPHONG] ([MAPHIEUTHUE])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUTHUEPHONG]
GO
ALTER TABLE [dbo].[PHONGTRO]  WITH CHECK ADD  CONSTRAINT [FK_PHONGTRO_LOAIPHONG] FOREIGN KEY([MALP])
REFERENCES [dbo].[LOAIPHONG] ([MALP])
GO
ALTER TABLE [dbo].[PHONGTRO] CHECK CONSTRAINT [FK_PHONGTRO_LOAIPHONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHANQUYEN1] FOREIGN KEY([MAPQ])
REFERENCES [dbo].[PHANQUYEN] ([MAPQ])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHANQUYEN1]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_LOAITHIETBI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITHIETBI] ([MALOAI])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_LOAITHIETBI]
GO
