@{
    ViewBag.Title = "PhanQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
<script src="~/assets/admin/js/PhanQuyen.js"></script>
<script src="~/assets/admin/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/assets/admin/bootstrap/dist/js/bootstrap.bundle.js"></script>
<h2>Phân quyền tài khoản</h2>
<table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Tên nhân viên</th>
                                            <th class="border-top-0">User name</th>                                    
                                            <th class="border-top-0">Quyền</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Dstaikhoan">                                       
                                    </tbody>
                                </table>
